<div class="a4-page-container">
  <div class="a4-page">
    <div class="centered-div">
      <table class="custom-table inner-table">
        <tbody>
          <tr>
            <td class="col-1"></td>
            <td class="col-2"></td>
            <td class="col-3"></td>
            <td class="col-4 bordered-td tr-color" colspan="5">Proforma Invoice</td>
            <td class="col-9"></td>
            <td class="col-10"></td>
            <td class="col-11 bordered-td">Original</td>
          </tr>
          <tr>
            <td colspan="11">&nbsp;</td>
          </tr>
          <tr>
            <td class="col-1 bordered-td tr-color" colspan="6" style="text-align: start;"> &nbsp; To:</td>
            <td class="col-7"></td>
            <td class="col-8"></td>
            <td class="col-9 bordered-td tr-color" colspan="2" style="text-align: end;">Invoice Date: &nbsp;</td>
            <td class="col-11 bordered-td"></td>
          </tr>
          <tr>
            <td class="col-1 bordered-lr" colspan="6"></td>
            <td class="col-7"></td>
            <td class="col-8"></td>
            <td class="col-9 bordered-td tr-color" colspan="2" style="text-align: end;">Invoice No: &nbsp;</td>
            <td class="col-11 bordered-td"></td>
          </tr>
          <tr>
            <td class="col-1 bordered-lr" colspan="6" rowspan="2"></td>
            <td class="col-7"></td>
            <td class="col-8"></td>
            <td class="col-9" >&nbsp;</td>
            <td class="col-10"></td>
            <td class="col-11"></td>
          </tr>
          <tr>
            <td class="col-7"></td>
            <td class="col-8"></td>
            <td class="col-9 bordered-td tr-color" colspan="2" style="text-align: end;">Challan Date: &nbsp;</td>
            <td class="col-11 bordered-td"></td>
          </tr>
          <tr>
            <td class="col-1 bordered-lb" colspan="2" style="text-align: end;">GSTIN: &nbsp;</td>
            <td class="col-3 bordered-rb" colspan="4"></td>
            <td class="col-7"></td>
            <td class="col-8"></td>
            <td class="col-9 bordered-td tr-color" colspan="2" style="text-align: end;">Challan No: &nbsp;</td>
            <td class="col-11 bordered-td"></td>
          </tr>
          <tr>
            <td colspan="11">&nbsp;</td>
          </tr>
          <tr>
            <td class="col-1 bordered-td tr-color" colspan="2" >Sr. no.</td>
            <td class="col-3 bordered-td tr-color" colspan="4">Particular</td>
            <td class="col-6 bordered-td tr-color" colspan="2">Qty.</td>
            <td class="col-9 bordered-td tr-color" colspan="2">Rate</td>
            <td class="col-11 bordered-td tr-color">Amount</td>
          </tr>
          <tr>
            <td class="col-1 bordered-lr" colspan="2">&nbsp;</td>
            <td class="col-3 bordered-lr" colspan="4"></td>
            <td class="col-6 bordered-lr" colspan="2"></td>
            <td class="col-9 bordered-lr" colspan="2"></td>
            <td class="col-11 bordered-lr"></td>
          </tr>
          <tr>
            <td class="col-1 bordered-lr" colspan="2">&nbsp;</td>
            <td class="col-3 bordered-lr" colspan="4"></td>
            <td class="col-6 bordered-lr" colspan="2"></td>
            <td class="col-9 bordered-lr" colspan="2"></td>
            <td class="col-11 bordered-lr"></td>
          </tr>
          <tr>
            <td class="col-1 bordered-lr" colspan="2">&nbsp;</td>
            <td class="col-3 bordered-lr" colspan="4"></td>
            <td class="col-6 bordered-lr" colspan="2"></td>
            <td class="col-9 bordered-lr" colspan="2"></td>
            <td class="col-11 bordered-lr"></td>
          </tr>
          <tr>
            <td class="col-1 bordered-lr" colspan="2">&nbsp;</td>
            <td class="col-3 bordered-lr" colspan="4"></td>
            <td class="col-6 bordered-lr" colspan="2"></td>
            <td class="col-9 bordered-lr" colspan="2"></td>
            <td class="col-11 bordered-lr"></td>
          </tr>
          <tr>
            <td class="col-1 bordered-lr" colspan="2">&nbsp;</td>
            <td class="col-3 bordered-lr" colspan="4"></td>
            <td class="col-6 bordered-lr" colspan="2"></td>
            <td class="col-9 bordered-lr" colspan="2"></td>
            <td class="col-11 bordered-lr"></td>
          </tr>
          <tr>
            <td class="col-1 bordered-lr" colspan="2">&nbsp;</td>
            <td class="col-3 bordered-lr" colspan="4"></td>
            <td class="col-6 bordered-lr" colspan="2"></td>
            <td class="col-9 bordered-lr" colspan="2"></td>
            <td class="col-11 bordered-lr"></td>
          </tr>
          <tr>
            <td class="col-1 bordered-lr" colspan="2">&nbsp;</td>
            <td class="col-3 bordered-lr" colspan="4"></td>
            <td class="col-6 bordered-lr" colspan="2"></td>
            <td class="col-9 bordered-lr" colspan="2"></td>
            <td class="col-11 bordered-lr"></td>
          </tr>
          <tr>
            <td class="col-1 bordered-lr" colspan="2">&nbsp;</td>
            <td class="col-3 bordered-lr" colspan="4"></td>
            <td class="col-6 bordered-lr" colspan="2"></td>
            <td class="col-9 bordered-lr" colspan="2"></td>
            <td class="col-11 bordered-lr"></td>
          </tr>
          <tr>
            <td class="col-1 bordered-lr" colspan="2">&nbsp;</td>
            <td class="col-3 bordered-lr" colspan="4"></td>
            <td class="col-6 bordered-lr" colspan="2"></td>
            <td class="col-9 bordered-lr" colspan="2"></td>
            <td class="col-11 bordered-lr"></td>
          </tr>
          <tr>
            <td class="col-1 bordered-lr" colspan="2">&nbsp;</td>
            <td class="col-3 bordered-lr" colspan="4"></td>
            <td class="col-6 bordered-lr" colspan="2"></td>
            <td class="col-9 bordered-lr" colspan="2"></td>
            <td class="col-11 bordered-lr"></td>
          </tr>
          <tr>
            <td class="col-1 bordered-lr" colspan="2">&nbsp;</td>
            <td class="col-3 bordered-lr" colspan="4"></td>
            <td class="col-6 bordered-lr" colspan="2"></td>
            <td class="col-9 bordered-lr" colspan="2"></td>
            <td class="col-11 bordered-lr"></td>
          </tr>
          <tr>
            <td class="col-1 bordered-lr" colspan="2">&nbsp;</td>
            <td class="col-3 bordered-lr" colspan="4"></td>
            <td class="col-6 bordered-lr" colspan="2"></td>
            <td class="col-9 bordered-lr" colspan="2"></td>
            <td class="col-11 bordered-lr"></td>
          </tr>
          <tr>
            <td class="col-1 bordered-lr" colspan="2">&nbsp;</td>
            <td class="col-3 bordered-lr" colspan="4"></td>
            <td class="col-6 bordered-lr" colspan="2"></td>
            <td class="col-9 bordered-lr" colspan="2"></td>
            <td class="col-11 bordered-lr"></td>
          </tr>
          <tr>
            <td class="col-1 bordered-lr" colspan="2">&nbsp;</td>
            <td class="col-3 bordered-lr" colspan="4"></td>
            <td class="col-6 bordered-lr" colspan="2"></td>
            <td class="col-9 bordered-lr" colspan="2"></td>
            <td class="col-11 bordered-lr"></td>
          </tr>
          <tr>
            <td class="col-1 bordered-lr" colspan="2">&nbsp;</td>
            <td class="col-3 bordered-lr" colspan="4"></td>
            <td class="col-6 bordered-lr" colspan="2"></td>
            <td class="col-9 bordered-lr" colspan="2"></td>
            <td class="col-11 bordered-lr"></td>
          </tr>
          <tr>
            <td class="col-1 bordered-blr" colspan="2">&nbsp;</td>
            <td class="col-3 bordered-blr" colspan="4"></td>
            <td class="col-6 bordered-blr" colspan="2"></td>
            <td class="col-9 bordered-blr" colspan="2"></td>
            <td class="col-11 bordered-blr"></td>
          </tr>
          <tr>
            <td class="col-1 " colspan="3" style="text-align: start;">&nbsp; Amount in Words:</td>
            <td class="col-4" colspan="3"></td>
            <td class="col-7"></td>
            <td class="col-8 bordered-rb tr-color" colspan="3" style="text-align: end;">Sub. Total &nbsp;</td>
            <td class="col-11 bordered-td"></td>
          </tr>
          <tr>
            <td class="col-1"></td>
            <td class="col-2 bordered-td tr-val" style="text-align:left;vertical-align: top; padding:0 5px 0 5px;" colspan="5" rowspan="2">Rupees Five Lakh Twenty Thousand Two Hundred twenty One Only</td>
            <td class="col-7"></td>
            <td class="col-8 bordered-rb tr-color" colspan="3" style="text-align: end;">Discount 0% &nbsp;</td>
            <td class="col-11 bordered-td"></td>
          </tr>
          <tr>
            <td class="col-1"></td>
            <td class="col-7"></td>
            <td class="col-8 bordered-rb tr-color" colspan="3" style="text-align: end;">CGST 9% &nbsp;</td>
            <td class="col-11 bordered-td"></td>
          </tr>
          <tr>
            <td class="col-1" colspan="3" style="text-align: start;"> &nbsp; Bank Details:</td>
            <td class="col-4" colspan="3"></td>
            <td class="col-7"></td>
            <td class="col-8 bordered-rb tr-color" colspan="3" style="text-align: end;">SGST 9% &nbsp;</td>
            <td class="col-11 bordered-td"></td>
          </tr>
          <tr>
            <td class="col-1"></td>
            <td class="col-2 bordered-tlr tr-val" colspan="5"style="text-align: start;"> &nbsp; Bank Name: Cosmos Bank</td>
            <td class="col-7"></td>
            <td class="col-8 bordered-rb tr-color" colspan="3" style="text-align: end;">IGST 0% &nbsp;</td>
            <td class="col-11 bordered-td"></td>
          </tr>
          <tr>
            <td class="col-1"></td>
            <td class="col-2 bordered-lr tr-val" colspan="5"style="text-align: start;"> &nbsp; Bank Branch: Naroda Road</td>
            <td class="col-7"></td>
            <td class="col-8 bordered-rb tr-color" colspan="3" style="text-align: end;">Freight Charges &nbsp;</td>
            <td class="col-11 bordered-td"></td>
          </tr>
          <tr>
            <td class="col-1"></td>
            <td class="col-2 bordered-lr tr-val" colspan="5"style="text-align: start;"> &nbsp; A/C No.: 051100105326</td>
            <td class="col-7"></td>
            <td class="col-8" colspan="3"></td>
            <td class="col-11"></td>
          </tr>
          <tr>
            <td class="col-1"></td>
            <td class="col-2 bordered-lr bordered-rb tr-val" colspan="5"style="text-align: start;"> &nbsp; IFCN : COSB0000051</td>
            <td class="col-7"></td>
            <td class="col-8 bordered-td tr-color" colspan="3" style="text-align: end;">Grand Total &nbsp;</td>
            <td class="col-11 bordered-td"></td>
          </tr>
          <tr>
            <td class="col-1 " colspan="4" style="text-align: start;"> &nbsp; Terms and Conditions:</td>
            <td class="col-5" colspan="3"></td>
            <td class="col-8 " colspan="3" style="text-align: end;"></td>
            <td class="col-11"></td>
          </tr>
          <tr>
            <td class="col-1"></td>
            <td class="col-2 bordered-tlr tr-val" colspan="5"style="text-align: start;"> &nbsp; 1. 70% payment advance, rest at the time of delivery.</td>
            <td class="col-7"></td>
            <td class="col-8 bordered-td tr-color" colspan="4" >Signature of Properietor</td>
          </tr>
          <tr>
            <td class="col-1"></td>
            <td class="col-2 bordered-lr tr-val" colspan="5"style="text-align: start;"> &nbsp; 2. Subject to 'Gujarat' Juridiction only. E.&O.E.</td>
            <td class="col-7"></td>
            <td class="col-8 bordered-td inner-cell" colspan="4" rowspan="4"></td>
          </tr>
          <tr>
            <td class="col-1"></td>
            <td class="col-2 bordered-lr tr-val" colspan="5"style="text-align: start;">&nbsp;</td>
            <td class="col-7"></td>
          </tr>
          <tr>
            <td class="col-1"></td>
            <td class="col-2 bordered-lr tr-val" colspan="5"style="text-align: start;">&nbsp;</td>
            <td class="col-7"></td>
          </tr>
          <tr>
            <td class="col-1"></td>
            <td class="col-2 bordered-rb bordered-lr tr-val" colspan="5"style="text-align: start;">&nbsp;</td>
            <td class="col-7"></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
